# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.idea

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Python test and coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
test-results/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# GitHub workflow logs
.github/

# Ignore environment and secret files
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore performance results
performance_results.txt

