name: Python package

on:
  push:
  pull_request:

jobs:
  build:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
    - name: Run unit tests
      run: |
        pytest twopointers/
    - name: Run performance tests
      run: |
        python twopointers/test_performance.py
    - name: Comment performance results on PR
      if: github.event_name == 'pull_request'
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        path: performance_results.txt
    - name: Run largest container performance tests
      run: |
        python twopointers/test_largestContainer_performance.py
    - name: Comment largest container performance results on PR
      if: github.event_name == 'pull_request'
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        path: twopointers/largest_container_performance.txt
